In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [3]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

Each Row consists of 3 columns.

In [4]:
r_elements = doc.xpath('//tr')

col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

Creating A Pandas Data Frame

In [5]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    if len(T)!=3:
        break
    
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [6]:
Data={title:column for (title,column) in col}
df=pd.DataFrame(Data)

In [7]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

Assigning names to columns

In [8]:
df.columns = ['Borough', 'Neighbourhood','Postcode']
cols = df.columns.tolist()

cols = cols[-1:] + cols[:-1]
df = df[cols]
df.head()

             Postcode Borough     Neighbourhood
0      Not assigned\n     M1A      Not assigned
1      Not assigned\n     M2A      Not assigned
2         Parkwoods\n     M3A        North York
3  Victoria Village\n     M4A        North York
4      Harbourfront\n     M5A  Downtown Toronto

Cleaning all the unneccesary strings in borough

In [9]:
df = df.replace('\n',' ', regex=True)
df.head()

            Postcode Borough     Neighbourhood
0      Not assigned      M1A      Not assigned
1      Not assigned      M2A      Not assigned
2         Parkwoods      M3A        North York
3  Victoria Village      M4A        North York
4      Harbourfront      M5A  Downtown Toronto

Dropping all cells with a borough that is Not assigned

In [10]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)
df.head()

            Postcode Borough     Neighbourhood
0      Not assigned      M1A      Not assigned
1      Not assigned      M2A      Not assigned
2         Parkwoods      M3A        North York
3  Victoria Village      M4A        North York
4      Harbourfront      M5A  Downtown Toronto

Combining Neighbourhoods based on similar Postcode and Borough

In [11]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

            Postcode Borough     Neighbourhood
0          Adelaide      M5H  Downtown Toronto
1         Agincourt      M1S       Scarborough
2   Agincourt North      M1V       Scarborough
3    Albion Gardens      M9V         Etobicoke
4         Alderwood      M8W         Etobicoke
5    Bathurst Manor      M3H        North York
6     Bathurst Quay      M5V  Downtown Toronto
7   Bayview Village      M2K        North York
8  Beaumond Heights      M9V         Etobicoke
9      Bedford Park      M5M        North York

Remove unneccessary space/gaps in string

In [12]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

Assigning Borough values to the Neignbourhood if is "Not assigned"

In [13]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [14]:
df.shape

(287, 3)

In [15]:
df.head()

           Postcode Borough     Neighbourhood
0         Adelaide      M5H  Downtown Toronto
1        Agincourt      M1S       Scarborough
2  Agincourt North      M1V       Scarborough
3   Albion Gardens      M9V         Etobicoke
4        Alderwood      M8W         Etobicoke

In [16]:
df

,Postcode,Borough,Neighbourhood
0,Adelaide,M5H,Downtown Toronto
1,Agincourt,M1S,Scarborough
2,Agincourt North,M1V,Scarborough
3,Albion Gardens,M9V,Etobicoke
4,Alderwood,M8W,Etobicoke
5,Bathurst Manor,M3H,North York
6,Bathurst Quay,M5V,Downtown Toronto
7,Bayview Village,M2K,North York
8,Beaumond Heights,M9V,Etobicoke
9,Bedford Park,M5M,North York
10,Berczy Park,M5E,Downtown Toronto
11,Birch Cliff,M1N,Scarborough
12,Bloordale Gardens,M9C,Etobicoke
13,Brockton,M6K,West Toronto
14,Business Reply Mail Processing Centre 969 East...,M7Y,East Toronto
15,CFB Toronto,M3K,North York
16,CN Tower,M5V,Downtown Toronto
17,Cabbagetown,M4X,Downtown Toronto
18,Caledonia-Fairbanks,M6E,York
19,Canada Post Gateway Processing Centre,M7R,Mississauga
20,Cedarbrae,M1H,Scarborough
21,Central Bay Street,M5G,Downtown Toronto
22,Chinatown,M5T,Downtown Toronto
23,Christie,M6G,Downtown Toronto
24,Church and Wellesley,M4Y,Downtown Toronto
25,Clairlea,M1L,Scarborough
26,Clarks Corners,M1T,Scarborough
27,Cliffcrest,M1M,Scarborough
28,Cliffside,M1M,Scarborough
29,Cliffside West,M1N,Scarborough
...,...,...,...
257,The Queensway West,M8Z,Etobicoke
258,Thistletown,M9V,Etobicoke
259,Thorncliffe Park,M4H,East York
260,Toronto Dominion Centre,M5K,Downtown Toronto
261,Toronto Islands,M5J,Downtown Toronto
262,Trinity,M6J,West Toronto
263,Underground city,M5X,Downtown Toronto
264,Union Station,M5J,Downtown Toronto
265,University of Toronto,M5S,Downtown Toronto
266,Upper Rouge,M1X,Scarborough
267,Upwood Park,M6L,North York
268,Victoria Hotel,M5L,Downtown Toronto
269,Victoria Village,M4A,North York
270,West Deane Park,M9B,Etobicoke
271,West Hill,M1E,Scarborough
272,Westmount,M9P,Etobicoke
273,Weston,M9N,York
274,Wexford,M1R,Scarborough
275,Wexford Heights,M1P,Scarborough
276,Willowdale,M2M,North York
277,Willowdale South,M2N,North York
278,Willowdale West,M2R,North York
279,Wilson Heights,M3H,North York
280,Woburn,M1G,Scarborough
281,Woodbine Gardens,M4B,East York
282,Woodbine Heights,M4C,East York
283,York Mills,M2L,North York
284,York Mills West,M2P,North York
285,York University,M3J,North York
286,Yorkville,M5R,Central Toronto

In [17]:
import pandas as pd 
import numpy as np 

link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
df1.shape

(103, 3)

Changing the column name Postal code to Postcode to merge the two data frames together

In [19]:
df1.columns = ['Postcode','Latitude','Longitude']
cols = df1.columns.tolist()

In [24]:
df.head()

           Postcode Borough     Neighbourhood
0         Adelaide      M5H  Downtown Toronto
1        Agincourt      M1S       Scarborough
2  Agincourt North      M1V       Scarborough
3   Albion Gardens      M9V         Etobicoke
4        Alderwood      M8W         Etobicoke

In [26]:
df.set_index('Postcode')

                                                   Borough     Neighbourhood
Postcode
Adelaide                                               M5H  Downtown Toronto
Agincourt                                              M1S       Scarborough
Agincourt North                                        M1V       Scarborough
Albion Gardens                                         M9V         Etobicoke
Alderwood                                              M8W         Etobicoke
Bathurst Manor                                         M3H        North York
Bathurst Quay                                          M5V  Downtown Toronto
Bayview Village                                        M2K        North York
Beaumond Heights                                       M9V         Etobicoke
Bedford Park                                           M5M        North York
Berczy Park                                            M5E  Downtown Toronto
Birch Cliff                                            M1N       Scarborough
Bloordale Gardens                                      M9C         Etobicoke
Brockton                                               M6K      West Toronto
Business Reply Mail Processing Centre 969 Eastern      M7Y      East Toronto
CFB Toronto                                            M3K        North York
CN Tower                                               M5V  Downtown Toronto
Cabbagetown                                            M4X  Downtown Toronto
Caledonia-Fairbanks                                    M6E              York
Canada Post Gateway Processing Centre                  M7R       Mississauga
Cedarbrae                                              M1H       Scarborough
Central Bay Street                                     M5G  Downtown Toronto
Chinatown                                              M5T  Downtown Toronto
Christie                                               M6G  Downtown Toronto
Church and Wellesley                                   M4Y  Downtown Toronto
Clairlea                                               M1L       Scarborough
Clarks Corners                                         M1T       Scarborough
Cliffcrest                                             M1M       Scarborough
Cliffside                                              M1M       Scarborough
Cliffside West                                         M1N       Scarborough
...                                                    ...               ...
The Queensway West                                     M8Z         Etobicoke
Thistletown                                            M9V         Etobicoke
Thorncliffe Park                                       M4H         East York
Toronto Dominion Centre                                M5K  Downtown Toronto
Toronto Islands                                        M5J  Downtown Toronto
Trinity                                                M6J      West Toronto
Underground city                                       M5X  Downtown Toronto
Union Station                                          M5J  Downtown Toronto
University of Toronto                                  M5S  Downtown Toronto
Upper Rouge                                            M1X       Scarborough
Upwood Park                                            M6L        North York
Victoria Hotel                                         M5L  Downtown Toronto
Victoria Village                                       M4A        North York
West Deane Park                                        M9B         Etobicoke
West Hill                                              M1E       Scarborough
Westmount                                              M9P         Etobicoke
Weston                                                 M9N              York
Wexford                                                M1R       Scarborough
Wexford Heights                                        M1P       Scarborough
Willowdale                                             M2M        North York
Willowdale South                                       M2N        North York
Willowdale West                                        M2R        North York
Wilson Heights                                         M3H        North York
Woburn                                                 M1G       Scarborough
Woodbine Gardens                                       M4B         East York
Woodbine Heights                                       M4C         East York
York Mills                                             M2L        North York
York Mills West                                        M2P        North York
York University                                        M3J        North York
Yorkville                                              M5R   Central Toronto

[287 rows x 2 columns]

In [29]:
df1.set_index('Postcode')

           Latitude  Longitude
Postcode
M1B       43.806686 -79.194353
M1C       43.784535 -79.160497
M1E       43.763573 -79.188711
M1G       43.770992 -79.216917
M1H       43.773136 -79.239476
M1J       43.744734 -79.239476
M1K       43.727929 -79.262029
M1L       43.711112 -79.284577
M1M       43.716316 -79.239476
M1N       43.692657 -79.264848
M1P       43.757410 -79.273304
M1R       43.750072 -79.295849
M1S       43.794200 -79.262029
M1T       43.781638 -79.304302
M1V       43.815252 -79.284577
M1W       43.799525 -79.318389
M1X       43.836125 -79.205636
M2H       43.803762 -79.363452
M2J       43.778517 -79.346556
M2K       43.786947 -79.385975
M2L       43.757490 -79.374714
M2M       43.789053 -79.408493
M2N       43.770120 -79.408493
M2P       43.752758 -79.400049
M2R       43.782736 -79.442259
M3A       43.753259 -79.329656
M3B       43.745906 -79.352188
M3C       43.725900 -79.340923
M3H       43.754328 -79.442259
M3J       43.767980 -79.487262
...             ...        ...
M6C       43.693781 -79.428191
M6E       43.689026 -79.453512
M6G       43.669542 -79.422564
M6H       43.669005 -79.442259
M6J       43.647927 -79.419750
M6K       43.636847 -79.428191
M6L       43.713756 -79.490074
M6M       43.691116 -79.476013
M6N       43.673185 -79.487262
M6P       43.661608 -79.464763
M6R       43.648960 -79.456325
M6S       43.651571 -79.484450
M7A       43.662301 -79.389494
M7R       43.636966 -79.615819
M7Y       43.662744 -79.321558
M8V       43.605647 -79.501321
M8W       43.602414 -79.543484
M8X       43.653654 -79.506944
M8Y       43.636258 -79.498509
M8Z       43.628841 -79.520999
M9A       43.667856 -79.532242
M9B       43.650943 -79.554724
M9C       43.643515 -79.577201
M9L       43.756303 -79.565963
M9M       43.724766 -79.532242
M9N       43.706876 -79.518188
M9P       43.696319 -79.532242
M9R       43.688905 -79.554724
M9V       43.739416 -79.588437
M9W       43.706748 -79.594054

[103 rows x 2 columns]

In [27]:
df_new = pd.merge(df, df1, on='Postcode')
df_new.head()

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood, Latitude, Longitude]
Index: []